.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.slide-enter-active, .slide-leave-active {
  transition: all 1s;
}

.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */
{
  transform: translateX(-100%);
  //opacity: 0;
}

.fade {
  &-action {
    opacity: 0;
    transition: opacity 1s;
  }

  &-actived {
    opacity: 1;
    transition: opacity 1s;
  }
}

.slide-left {
  &-action {
    transform: translateX(0);
    transition: all 0.7s;
  }

  &-actived {
    transform: translateX(-400%);
    transition: all 0.7s;
  }
}

.slide-right {
  &-action {
    transform: translateX(0);
    transition: all 0.7s;
  }

  &-actived {
    transform: translateX(400%);
    transition: all 0.7s;
  }
}


