#app {
  font-family: 'GmarketSansMedium';
}

body {
  margin: 0 auto;
}

b {
  font-size: 24px;
  font-weight: bold;
  color: $third-color;

  @include fw {
    font-size: 20px;
  }

  @include sw {
    font-size: 15px;
  }
}