@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SimKyungha";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuseongDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#app {
  font-family: "GmarketSansMedium";
}

body {
  margin: 0 auto;
}

hr {
  opacity: 50%;
}

b {
  font-size: 24px;
  font-weight: bold;
  color: #273552;
}
@media (max-width: 700px) {
  b {
    font-size: 22px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  b {
    font-size: 17px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  b {
    font-size: 15px;
    transition: 1s;
  }
}

.bottom-margin {
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .bottom-margin {
    margin-bottom: 80px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .bottom-margin {
    margin-bottom: 60px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .bottom-margin {
    margin-bottom: 40px;
    transition: 1s;
  }
}

.menu {
  position: relative;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu {
    height: 90px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .menu {
    height: 60px;
    transition: 1s;
  }
}

.logo {
  height: 90px;
  width: 310px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .logo {
    height: 70px;
    width: 240px;
    margin-top: 10px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .logo {
    height: 55px;
    width: 200px;
    margin-top: 15px;
    margin-left: 10px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .logo {
    height: 40px;
    width: 140px;
    margin-top: 11px;
    margin-left: 10px;
    transition: 1s;
  }
}

.menu-text {
  display: flex;
  justify-content: flex-end;
  color: #7F8CAD;
  font-size: 30px;
  font-weight: bold;
}
.menu-text div {
  margin-top: 40px;
  margin-right: 38px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu-text div {
    font-size: 20px;
    margin-right: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .menu-text div {
    font-size: 14px;
    margin-right: 17px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .menu-text div {
    font-size: 13px;
    margin-top: 22px;
    margin-right: 15px;
    transition: 1s;
  }
}

.user-wrap {
  position: relative;
}

.tool {
  background-color: #7F8CAD;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 30px;
  text-align: right;
  color: #FFFFFF;
}
@media (max-width: 520px) {
  .tool {
    height: 26px;
    transition: 1s;
  }
}
.tool .user-qna {
  padding: 8px;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
@media (max-width: 700px) {
  .tool .user-qna {
    font-size: 11px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tool .user-qna {
    font-size: 10px;
    transition: 1s;
  }
}
.tool .line {
  margin-top: 8px;
}
@media (max-width: 700px) {
  .tool .line {
    margin-top: 5px;
    transition: 1s;
  }
}
.tool .user-login {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .tool .user-login {
    font-size: 11px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tool .user-login {
    font-size: 10px;
    transition: 1s;
  }
}
.tool .if-user {
  display: flex;
  flex-direction: row;
}
.tool .my-page {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .tool .my-page {
    font-size: 11px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tool .my-page {
    font-size: 10px;
    transition: 1s;
  }
}
.tool .user-logout {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .tool .user-logout {
    font-size: 11px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tool .user-logout {
    font-size: 10px;
    transition: 1s;
  }
}

.user-wrap {
  position: relative;
  height: 620px;
}
@media (max-width: 700px) {
  .user-wrap {
    height: 370px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap {
    height: 270px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap {
    height: 195px;
    transition: 1s;
  }
}
.user-wrap .user-img-main {
  background-image: url("/assets/image/banner-main.png");
  background-size: 100%;
  opacity: 80%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 700px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-summary {
  background-image: url("/assets/image/banner-summary.jpg");
  background-size: 100%;
  opacity: 80%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-service {
  background-image: url("/assets/image/banner-service.jpg");
  background-size: 100%;
  opacity: 80%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-tech {
  background-image: url("/assets/image/banner-tech.jpg");
  background-size: 100%;
  opacity: 80%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-text {
  position: absolute;
  font-family: NeoDunggeunmo;
  top: 190px;
  left: 80px;
  text-shadow: 2px 0px 6px #525F7E;
}
@media (max-width: 700px) {
  .user-wrap .user-text {
    top: 120px;
    left: 50px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text {
    top: 90px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text {
    top: 60px;
    left: 30px;
    transition: 1s;
  }
}
.user-wrap .user-text .inner-text {
  font-size: 80px;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .user-wrap .user-text .inner-text {
    font-size: 60px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text .inner-text {
    font-size: 40px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text .inner-text {
    font-size: 30px;
    transition: 1s;
  }
}
.user-wrap .user-text .inner-sub-text {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 30px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 10px;
    transition: 1s;
  }
}

.main > section .main-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 150px;
}
@media (max-width: 700px) {
  .main > section .main-card {
    margin-top: 100px;
    transition: 1s;
  }
}
.main > section .main-card .point-why-smf {
  content: url("/assets/image/icon-factory.png");
  width: 250px;
  height: 250px;
  margin: 40px 0px;
}
@media (max-width: 700px) {
  .main > section .main-card .point-why-smf {
    width: 200px;
    height: 200px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .main > section .main-card .point-why-smf {
    width: 170px;
    height: 170px;
    transition: 1s;
  }
}
.main > section .main-card .point-what-require {
  content: url("/assets/image/icon-requirement.png");
  width: 250px;
  height: 250px;
  margin: 40px 0px;
}
@media (max-width: 700px) {
  .main > section .main-card .point-what-require {
    width: 200px;
    height: 200px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .main > section .main-card .point-what-require {
    width: 170px;
    height: 170px;
    transition: 1s;
  }
}
.main > section .main-card .main-title {
  font-size: 55px;
  font-weight: 900;
  color: #aebbdd;
  text-shadow: 1px 1px 1px #273552;
}
@media (max-width: 700px) {
  .main > section .main-card .main-title {
    font-size: 32px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .main > section .main-card .main-title {
    font-size: 24px;
    transition: 1s;
  }
}
.main > section .main-card .main-context {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
  color: #525F7E;
}
@media (max-width: 700px) {
  .main > section .main-card .main-context {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .main > section .main-card .main-context {
    font-size: 15px;
    margin-bottom: 30px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .main > section .main-card .main-context {
    font-size: 12px;
    margin-bottom: 10px;
    transition: 1s;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: #525F7E;
  margin-bottom: 20px;
}

.input-email {
  width: 250px;
  height: 40px;
}

.input-password {
  width: 250px;
  height: 40px;
}

.login-btn {
  width: 70px;
  height: 40px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.go-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: #7F8CAD;
}

.go-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: #7F8CAD;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.join-title {
  font-size: 32px;
  font-weight: bold;
  color: #525F7E;
  margin-bottom: 20px;
}

.join-name {
  width: 250px;
  height: 40px;
}

.join-email {
  width: 250px;
  height: 40px;
}

.join-phone {
  width: 250px;
  height: 40px;
}

.join-password {
  width: 250px;
  height: 40px;
}

.join-address {
  width: 250px;
  height: 40px;
}

.join-btn {
  width: 70px;
  height: 40px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid #525F7E;
  border-radius: 10px;
  cursor: pointer;
}

.summary-context {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;
}
@media (max-width: 700px) {
  .summary-context {
    margin: 0px 100px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context {
    margin: 0px 50px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .summary-context {
    margin: 0px 30px;
    transition: 1s;
  }
}
.summary-context .sub-title {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}
@media (max-width: 700px) {
  .summary-context .sub-title {
    margin-top: 100px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context .sub-title {
    margin-top: 80px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .summary-context .sub-title {
    margin-top: 60px;
    transition: 1s;
  }
}
.summary-context .sub-title .icon {
  content: url("/assets/image/icon.png");
  width: 30px;
  height: 30px;
}
@media (max-width: 700px) {
  .summary-context .sub-title .icon {
    width: 20px;
    height: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context .sub-title .icon {
    width: 15px;
    height: 15px;
    transition: 1s;
  }
}
.summary-context .sub-title .summary-sub-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #273552;
}
@media (max-width: 700px) {
  .summary-context .sub-title .summary-sub-title {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context .sub-title .summary-sub-title {
    font-size: 15px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .summary-context .sub-title .summary-sub-title {
    font-size: 13px;
    transition: 1s;
  }
}
.summary-context .summary-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #aebbdd;
  text-shadow: 1px 1px 1px #273552;
}
@media (max-width: 700px) {
  .summary-context .summary-title {
    font-size: 32px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context .summary-title {
    font-size: 25px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .summary-context .summary-title {
    font-size: 22px;
    margin-bottom: 20px;
    transition: 1s;
  }
}
.summary-context .smf-sum {
  font-size: 20px;
  line-height: 1.4;
  color: #525F7E;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .summary-context .smf-sum {
    font-size: 15px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .summary-context .smf-sum {
    font-size: 10px;
    transition: 1s;
  }
}
.summary-context .problems-sec {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.summary-context .problems-sec .problems {
  width: 90%;
}

.service > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service > section > p {
  opacity: 50%;
}
.service > section .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 50px 20px;
  border-radius: 50px;
  background-color: #fafafa;
  box-shadow: 2px 2px 2px #e3e3e3;
}
@media (max-width: 700px) {
  .service > section .service-card {
    width: 600px;
    margin: 30px 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .service > section .service-card {
    width: 500px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .service > section .service-card {
    width: 350px;
    transition: 1s;
  }
}
.service > section .service-card .monitoring-of-product {
  content: url("/assets/image/product.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
@media (max-width: 700px) {
  .service > section .service-card .monitoring-of-product {
    width: 70%;
    transition: 1s;
  }
}
.service > section .service-card .monitoring-of-progress {
  content: url("/assets/image/progress.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
@media (max-width: 700px) {
  .service > section .service-card .monitoring-of-progress {
    width: 70%;
    transition: 1s;
  }
}
.service > section .service-card .monitoring-of-target {
  content: url("/assets/image/target.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
@media (max-width: 700px) {
  .service > section .service-card .monitoring-of-target {
    width: 70%;
    transition: 1s;
  }
}
.service > section .service-card .monitoring-of-environ {
  content: url("/assets/image/environ.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
@media (max-width: 700px) {
  .service > section .service-card .monitoring-of-environ {
    width: 70%;
    transition: 1s;
  }
}
.service > section .service-card .monitoring-of-total {
  content: url("/assets/image/total.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
@media (max-width: 700px) {
  .service > section .service-card .monitoring-of-total {
    width: 70%;
    transition: 1s;
  }
}
.service > section .service-card .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service > section .service-card .about .service-title {
  font-size: 35px;
  font-weight: bold;
  color: #273552;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .service > section .service-card .about .service-title {
    font-size: 30px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .service > section .service-card .about .service-title {
    font-size: 25px;
    transition: 1s;
  }
}
.service > section .service-card .service-context {
  text-align: center;
  font-size: 25px;
  color: #7F8CAD;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .service > section .service-card .service-context {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .service > section .service-card .service-context {
    font-size: 15px;
    transition: 1s;
  }
}

.tech > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tech > section .tech-context .tech-title {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
@media (max-width: 700px) {
  .tech > section .tech-context .tech-title {
    margin-top: 150px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tech > section .tech-context .tech-title {
    margin-top: 100px;
    transition: 1s;
  }
}
.tech > section .tech-context .tech-title .icon {
  content: url("/assets/image/icon-check.png");
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
@media (max-width: 700px) {
  .tech > section .tech-context .tech-title .icon {
    width: 40px;
    height: 40px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tech > section .tech-context .tech-title .icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    transition: 1s;
  }
}
.tech > section .tech-context .tech-title .tech-main-title {
  font-size: 40px;
  font-weight: bold;
  color: #aebbdd;
  text-shadow: 1px 1px 1px #273552;
}
@media (max-width: 700px) {
  .tech > section .tech-context .tech-title .tech-main-title {
    font-size: 32px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tech > section .tech-context .tech-title .tech-main-title {
    font-size: 24px;
    transition: 1s;
  }
}
.tech > section .tech-context .smf-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  color: #7F8CAD;
  margin-bottom: 150px;
}
@media (max-width: 700px) {
  .tech > section .tech-context .smf-tech {
    font-size: 20px;
    margin-bottom: 100px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .tech > section .tech-context .smf-tech {
    font-size: 15px;
    transition: 1s;
  }
}
.tech > section .tech-context .smf-tech .point-conveyor {
  content: url("/assets/image/conveyor.png");
  width: 50%;
  height: 50%;
  margin: 60px 0px;
}
@media (max-width: 520px) {
  .tech > section .tech-context .smf-tech .point-conveyor {
    margin: 40px 0px;
    transition: 1s;
  }
}
.tech > section .tech-context .smf-tech .point-web-control {
  content: url("/assets/image/web-control.png");
  width: 50%;
  height: 50%;
  margin: 60px 0px;
}
@media (max-width: 520px) {
  .tech > section .tech-context .smf-tech .point-web-control {
    margin: 40px 0px;
    transition: 1s;
  }
}
.tech > section .tech-context .smf-tech .point-data-collect {
  content: url("/assets/image/data-collect.png");
  width: 40%;
  height: 40%;
  margin: 60px 0px;
}
@media (max-width: 520px) {
  .tech > section .tech-context .smf-tech .point-data-collect {
    margin: 40px 0px;
    transition: 1s;
  }
}

.board-table .qna-title {
  font-size: 36px;
  font-weight: bold;
  color: #aebbdd;
  margin-top: 80px;
  margin-left: 100px;
  text-shadow: 1px 1px 1px #273552;
}
@media (max-width: 700px) {
  .board-table .qna-title {
    font-size: 32px;
    margin-left: 70px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .board-table .qna-title {
    font-size: 28px;
    margin-left: 40px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .board-table .qna-title {
    font-size: 24px;
    transition: 1s;
  }
}
.board-table .write-btn {
  width: 60px;
  height: 30px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid #525F7E;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 100px;
}
.board-table .qna-table {
  display: flex;
  justify-content: center;
  margin: 20px 90px;
  box-shadow: 0px 0px 1px #7F8CAD;
}
@media (max-width: 700px) {
  .board-table .qna-table {
    margin: 20px 50px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .board-table .qna-table {
    margin: 20px 30px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .board-table .qna-table {
    margin: 20px 10px;
    transition: 1s;
  }
}
.board-table .qna-table .qna-thead {
  font-size: 24px;
  color: #273552;
}
@media (max-width: 700px) {
  .board-table .qna-table .qna-thead {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .board-table .qna-table .qna-thead {
    font-size: 16px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .board-table .qna-table .qna-thead {
    font-size: 12px;
    transition: 1s;
  }
}
.board-table .qna-table .qna-thead tr th {
  padding: 20px;
}
@media (max-width: 700px) {
  .board-table .qna-table .qna-thead tr th {
    padding: 15px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .board-table .qna-table .qna-thead tr th {
    padding: 10px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .board-table .qna-table .qna-thead tr th {
    padding: 0px;
    transition: 1s;
  }
}
.board-table .qna-table .qna-tbody {
  font-size: 20px;
}
@media (max-width: 700px) {
  .board-table .qna-table .qna-tbody {
    font-size: 16px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .board-table .qna-table .qna-tbody {
    font-size: 12px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .board-table .qna-table .qna-tbody {
    font-size: 8px;
    transition: 1s;
  }
}
.board-table .qna-table .qna-tbody tr td {
  padding: 10px;
  cursor: pointer;
}
.board-table .board-viewer .viewer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 2px #525F7E;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
.board-table .board-viewer .viewer-section .viewer-title {
  font-size: 36px;
  margin: 15px 15px;
}
.board-table .board-viewer .viewer-section .viewer-contents {
  font-size: 32px;
  padding: 100px 15px;
}
.board-table .board-viewer .viewer-section .viewer-user {
  font-size: 24px;
  margin: 15px 15px;
}
.board-table .board-viewer .btn-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 100px;
}
.board-table .board-viewer .btn-section .back-btn {
  width: 60px;
  height: 30px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid #525F7E;
  border-radius: 10px;
  cursor: pointer;
}

.qna-write .write-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.qna-write .write-area div {
  padding: 10px;
}
.qna-write .write-area .write-title {
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
}
.qna-write .write-area .write-contents {
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
}
.qna-write .write-area .write-btn {
  width: 60px;
  height: 30px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.qna-write .write-area .write-user {
  text-align: center;
  width: 100px;
  height: 30px;
}
.qna-write .write-area .write-date {
  text-align: center;
  width: 100px;
  height: 30px;
}

.my-page-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-page-page .profile-img-area {
  position: relative;
  margin-bottom: 50px;
}
.my-page-page .profile-img-area .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.my-page-page .profile-img-area > div {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.my-page-page .profile-img-area > div label > i {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
}
.my-page-page .profile-img-area > div #profileImg {
  display: none;
}
.my-page-page .profile-data-area {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 400px;
}
.my-page-page .profile-data-area span {
  width: 100%;
  display: flex;
  align-items: center;
}
.my-page-page .profile-data-area span p {
  width: 30%;
}
.my-page-page .profile-data-area span div {
  width: 70%;
}
.my-page-page .profile-data-area span .edit-mode-btn {
  width: 70px;
  height: 30px;
  background-color: #525F7E;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.my-page-page .profile-data-area span .edit-mode-btn-active {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #cccccc;
  color: #222222;
  cursor: pointer;
}
.my-page-page .profile-data-area span.btn {
  display: flex;
  justify-content: space-evenly;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all 1s;
}

.slide-enter, .slide-leave-to {
  transform: translateX(-100%);
}

.fade-action {
  opacity: 0;
  transition: opacity 1s;
}
.fade-actived {
  opacity: 1;
  transition: opacity 1s;
}

.slide-left-action {
  transform: translateX(0);
  transition: all 0.7s;
}
.slide-left-actived {
  transform: translateX(-400%);
  transition: all 0.7s;
}

.slide-right-action {
  transform: translateX(0);
  transition: all 0.7s;
}
.slide-right-actived {
  transform: translateX(400%);
  transition: all 0.7s;
}

/*# sourceMappingURL=index.css.map */
