@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SimKyungha";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SimKyungha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuseongDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#app {
  font-family: "GmarketSansMedium";
}

body {
  margin: 0 auto;
}

hr {
  margin: 0px;
}

.menu {
  position: relative;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu {
    height: 90px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .menu {
    height: 60px;
    transition: 1s;
  }
}

.logo {
  height: 90px;
  width: 310px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .logo {
    height: 70px;
    width: 240px;
    margin-top: 10px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .logo {
    height: 55px;
    width: 200px;
    margin-top: 15px;
    margin-left: 10px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .logo {
    height: 40px;
    width: 140px;
    margin-top: 11px;
    margin-left: 10px;
    transition: 1s;
  }
}

.menu-text {
  display: flex;
  justify-content: flex-end;
  color: #7F8CAD;
  font-size: 30px;
  font-weight: bold;
}
.menu-text div {
  margin-top: 40px;
  margin-right: 38px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu-text div {
    font-size: 20px;
    margin-right: 20px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .menu-text div {
    font-size: 14px;
    margin-right: 17px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .menu-text div {
    font-size: 13px;
    margin-top: 22px;
    margin-right: 15px;
    transition: 1s;
  }
}

.user-wrap {
  position: relative;
}

.tool {
  background-color: #7F8CAD;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 30px;
  text-align: right;
  color: #FFFFFF;
}
.tool .user-qna {
  padding: 8px;
  font-size: 13px;
  color: white;
  cursor: pointer;
}
.tool .line {
  margin-top: 8px;
}
.tool .user-login {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
.tool .if-admin {
  display: flex;
  flex-direction: row;
}
.tool .admin-page {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
.tool .if-user {
  display: flex;
  flex-direction: row;
}
.tool .my-page {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}
.tool .user-logout {
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
}

.user-wrap {
  position: relative;
  height: 740px;
}
.user-wrap .user-img-main {
  background-image: url("public/assets/image/banner1.png");
  background-size: 100%;
  opacity: 70%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 700px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-summary {
  background-image: url("public/assets/image/banner3.png");
  background-size: 100%;
  opacity: 70%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-service {
  background-image: url("public/assets/image/banner3.png");
  background-size: 100%;
  opacity: 70%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-img-tech {
  background-image: url("public/assets/image/banner3.png");
  background-size: 100%;
  opacity: 70%;
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}
.user-wrap .user-text {
  position: absolute;
  font-family: Yeongdo-Rg;
  top: 190px;
  left: 80px;
  text-shadow: 2px 0px 6px #525F7E;
}
@media (max-width: 700px) {
  .user-wrap .user-text {
    top: 120px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text {
    top: 90px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text {
    top: 60px;
    left: 50px;
    transition: 1s;
  }
}
.user-wrap .user-text .inner-text {
  font-size: 80px;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .user-wrap .user-text .inner-text {
    font-size: 60px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text .inner-text {
    font-size: 40px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text .inner-text {
    font-size: 30px;
    transition: 1s;
  }
}
.user-wrap .user-text .inner-sub-text {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 30px;
    transition: 1s;
  }
}
@media (max-width: 520px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 20px;
    transition: 1s;
  }
}
@media (max-width: 375px) {
  .user-wrap .user-text .inner-sub-text {
    font-size: 10px;
    transition: 1s;
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: #525F7E;
  margin-bottom: 20px;
}

.input-email {
  width: 250px;
  height: 40px;
}

.input-password {
  width: 250px;
  height: 40px;
}

.login-btn {
  width: 70px;
  height: 40px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid #525F7E;
  border-radius: 10px;
  cursor: pointer;
}

.go-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: #7F8CAD;
}

.go-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: #7F8CAD;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.join-title {
  font-size: 32px;
  font-weight: bold;
  color: #525F7E;
  margin-bottom: 20px;
}

.join-name {
  width: 250px;
  height: 40px;
}

.join-email {
  width: 250px;
  height: 40px;
}

.join-phone {
  width: 250px;
  height: 40px;
}

.join-password {
  width: 250px;
  height: 40px;
}

.join-address {
  width: 250px;
  height: 40px;
}

.join-btn {
  width: 70px;
  height: 40px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid #525F7E;
  border-radius: 10px;
  cursor: pointer;
}

.summary .summary-context {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;
}
.summary .summary-context .sub-title {
  display: flex;
  flex-direction: row;
}
.summary .summary-context .sub-title .icon {
  background-image: url("public/assets/image/idea.png");
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.summary .summary-context .sub-title .summary-sub-title {
  font-family: "SuseongDotum";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #273552;
}
.summary .summary-context .summary-title {
  font-family: "SuseongDotum";
  font-size: 50px;
  margin-bottom: 40px;
  color: #7F8CAD;
  text-shadow: 1px 1px 0px #273552;
}
.summary .summary-context .smf-sum {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 150px;
  color: #525F7E;
}
.summary .summary-context .smf-sum b {
  font-size: 24px;
  font-weight: bold;
  color: #273552;
}
.summary .summary-context .problems-sec {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.summary .summary-context .problems-sec .problems {
  width: 90%;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 20px;
  background-color: #fafafa;
}
.service-card .monitoring-of-product {
  content: url("public/assets/image/product.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
.service-card .monitoring-of-progress {
  content: url("public/assets/image/progress.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
.service-card .monitoring-of-target {
  content: url("public/assets/image/target.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
.service-card .monitoring-of-environ {
  content: url("public/assets/image/environ.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
.service-card .monitoring-of-total {
  content: url("public/assets/image/total.png");
  box-shadow: 0px 0px 6px #273552;
  margin: 30px 0px;
}
.service-card .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-card .about .service-title {
  font-size: 35px;
  font-weight: bold;
  color: #273552;
  margin-bottom: 20px;
}
.service-card .about .service-context {
  text-align: center;
  font-size: 25px;
  color: #7F8CAD;
  margin-bottom: 30px;
}

/*# sourceMappingURL=index.css.map */
