.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  color: $first-color;
  margin-bottom: 20px;
}

.input-email {
  width: 250px;
  height: 40px;
}

.input-password {
  width: 250px;
  height: 40px;
}

.login-btn {
  width: 70px;
  height: 40px;
  background-color: $second-color;
  color: #FFFFFF;
  opacity: 70%;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.go-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: $second-color;
}

.go-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 100px;
  cursor: pointer;
  color: $second-color;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.join-title {
  font-size: 32px;
  font-weight: bold;
  color: $first-color;
  margin-bottom: 20px;
}

.join-name {
  width: 250px;
  height: 40px;
}

.join-email {
  width: 250px;
  height: 40px;
}

.join-phone {
  width: 250px;
  height: 40px;
}

.join-password {
  width: 250px;
  height: 40px;
}

.join-address {
  width: 250px;
  height: 40px;
}

.join-btn {
  width: 70px;
  height: 40px;
  background-color: #7F8CAD;
  color: #FFFFFF;
  opacity: 70%;
  border: 1px solid $first-color;
  border-radius: 10px;
  cursor: pointer;
}