// 개요
.sum-wrap {
  display: flex;
  flex-direction: row;
}

.sum-context-wrap {
  display: flex;
  flex-direction: column;
}

.sumTitle {
  margin-left: 30px;
  margin-top: 130px;
  font-size: 36px;
  font-weight: bold;
  color: $second-color;

  @include fw {
    margin-top: 110px;
    font-size: 32px;
  }

  @include sw {
    margin-left: 20px;
    margin-top: 80px;
    font-size: 24px;
  }

  @include se {
    margin-top: 50px;
    font-size: 18px;
  }
}

.sumContext {
  font-size: 24px;
  margin-left: 30px;
  margin-top: 20px;
  color: $first-color;

  @include fw {
    font-size: 20px;
    margin-top: 18px;
  }

  @include sw {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
  }

  @include se {
    font-size: 5px;
    margin-top: 5px;
  }
}

.sample {
  margin-left: 150px;
  margin-top: 120px;
  width: 250px;
  height: 250px;

  @include fw {
    margin-top: 100px;
    margin-left: 90px;
    width: 200px;
    height: 200px;
  }

  @include sw {
    margin-top: 70px;
    margin-left: 60px;
    width: 130px;
    height: 130px;
  }

  @include se {
    margin-top: 50px;
    margin-left: 50px;
    width: 90px;
    height: 90px;
  }
}