.main {
  > section {

    .main-card {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-top: 150px;

      .point {
        &-why-smf {
          content: url("public/assets/image/icon-factory.png");
          width: 250px;
          height: 250px;
          margin: 40px 0px;
        }

        &-what-require {
          content: url("public/assets/image/icon-requirement.png");
          width: 250px;
          height: 250px;
          margin: 40px 0px;
        }
      }

      .main-title {
        font-size: 55px;
        font-weight: 900;
        color: $second-color;
        text-shadow: 1px 1px 1px $third-color;
      }

      .main-context {
        text-align: center;
        font-size: 22px;
        margin-bottom: 50px;
        color: $first-color;
      }
    }
  }
}