.service {
  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
      opacity: 50%;
    }

    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1000px;
      margin: 50px 20px;
      border-radius: 50px;
      background-color: #fafafa;
      box-shadow: 2px 2px 2px #e3e3e3;

      @include fw {
        width: 600px;
        margin: 30px 20px;
      }

      @include sw {
        width: 500px;
      }

      @include se {
        width: 350px;
      }

      .monitoring-of {
        &-product {
          content: url("public/assets/image/product.png");
          box-shadow: 0px 0px 6px $third-color;
          margin: 30px 0px;

          @include fw {
            width: 70%
          }
        }

        &-progress {
          content: url("public/assets/image/progress.png");
          box-shadow: 0px 0px 6px $third-color;
          margin: 30px 0px;

          @include fw {
            width: 70%
          }
        }

        &-target {
          content: url("public/assets/image/target.png");
          box-shadow: 0px 0px 6px $third-color;
          margin: 30px 0px;

          @include fw {
            width: 70%
          }
        }

        &-environ {
          content: url("public/assets/image/environ.png");
          box-shadow: 0px 0px 6px $third-color;
          margin: 30px 0px;

          @include fw {
            width: 70%
          }
        }

        &-total {
          content: url("public/assets/image/total.png");
          box-shadow: 0px 0px 6px $third-color;
          margin: 30px 0px;

          @include fw {
            width: 70%
          }
        }
      }

      .about {
        display: flex;
        flex-direction: column;
        align-items: center;

        .service-title {
          font-size: 35px;
          font-weight: bold;
          color: $third-color;
          margin-bottom: 20px;

          @include fw {
            font-size: 30px;
          }

          @include sw {
            font-size: 25px;
          }
        }
      }

      .service-context {
        text-align: center;
        font-size: 25px;
        color: $second-color;
        margin-bottom: 30px;

        @include fw {
          font-size: 20px;
        }

        @include sw {
          font-size: 15px;
        }
      }
    }
  }
}
