.summary {

  .summary-context {
    display: flex;
    flex-direction: column;
    margin: 0px 200px;

    .sub-title {
      display: flex;
      flex-direction: row;
      //margin-top: 70px;

      .icon {
        background-image: url("public/assets/image/icon.png");
        background-size: 100%;
        width: 30px;
        height: 30px;
      }

      .summary-sub-title {
        font-family: 'SuseongDotum';
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
        color: $third-color;
      }
    }

    .summary-title {
      font-family: 'SuseongDotum';
      font-size: 50px;
      margin-bottom: 40px;
      color: $second-color;
      text-shadow: 1px 1px 0px $third-color;
    }

    .smf-sum {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 150px;
      color: $first-color;

      //b {
      //  font-size: 24px;
      //  font-weight: bold;
      //  color: $third-color;
      //}
    }

    .problems-sec {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;

      .problems {
        width: 90%;
      }
    }
  }
}
