.summary {

  .summary-context {
    display: flex;
    flex-direction: column;
    margin: 0px 200px;

    @include fw {
      margin: 0px 100px;
    }

    @include sw {
      margin: 0px 50px;
    }

    @include se {
      margin: 0px 30px;
    }

    .sub-title {
      display: flex;
      flex-direction: row;
      margin-top: 150px;

      @include fw {
        margin-top: 100px;
      }

      @include sw {
        margin-top: 80px;
      }

      @include se {
        margin-top: 60px;
      }

      .icon {
        content: url("public/assets/image/icon.png");
        width: 30px;
        height: 30px;

        @include fw {
          width: 20px;
          height: 20px;
        }

        @include sw {
          width: 15px;
          height: 15px;
        }
      }

      .summary-sub-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
        color: $third-color;

        @include fw {
          font-size: 20px;
        }

        @include sw {
          font-size: 15px;
        }

        @include se {
          font-size: 13px;
        }
      }
    }

    .summary-title {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 40px;
      color: $second-color;
      text-shadow: 1px 1px 1px $third-color;

      @include fw {
        font-size: 32px;
      }

      @include sw {
        font-size: 25px;
      }

      @include se {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    .smf-sum {
      font-size: 20px;
      line-height: 1.4;
      color: $first-color;
      margin-bottom: 50px;

      @include fw {
        font-size: 15px;
      }

      @include sw {
        font-size: 10px;
      }
    }

    .problems-sec {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      .problems {
        width: 90%;
      }
    }
  }
}
