.user-wrap {
  position: relative;
}

.tool {
  background-color: $second-color;
  height: 30px;
  text-align: right;
  color: #FFFFFF;

  .user-qna {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    cursor: pointer;
  }
}