.user-wrap {
  position: relative;
}

.tool {
  background-color: $second-color;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 30px;
  text-align: right;
  color: #FFFFFF;

  @include sw {
    height: 26px;
  }

  .user-qna {
    padding: 8px;
    font-size: 13px;
    color: white;
    cursor: pointer;

    @include fw {
      font-size: 11px;
    }

    @include sw {
      font-size: 10px;
    }
  }

  .line {
    margin-top: 8px;

    @include fw {
      margin-top: 5px;
    }
  }

  .user-login {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;

    @include fw {
      font-size: 11px;
    }

    @include sw {
      font-size: 10px;
    }
  }

  .if-admin {
    display: flex;
    flex-direction: row;
  }

  .admin-page {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;

    @include fw {
      font-size: 11px;
    }

    @include sw {
      font-size: 10px;
    }
  }

  .if-user {
    display: flex;
    flex-direction: row;
  }

  .my-page {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;

    @include fw {
      font-size: 11px;
    }

    @include sw {
      font-size: 10px;
    }
  }

  .user-logout {
    padding: 8px;
    font-size: 13px;
    cursor: pointer;

    @include fw {
      font-size: 11px;
    }

    @include sw {
      font-size: 10px;
    }
  }
}